@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.navbar-inverse {
   background-color: #05192d;
   border-color: #05192d;
}

body {
  font-family: Poppins, sans-serif;
  color: #05192d;
}
